<h1>Employee Add works, Fname:{{emp.Fname}}, Last Name:{{emp.Lname}}, Age :{{emp.Age}}</h1>
<input type="button" value="Cancel" (click)="ShowList()">
<input type="button" value="Save" (click)="SaveEmployee()">
<input type="button" value="Update" (click)="SaveEmployee()">
<!--
<h1>Var1 value:{{var1}}</h1>
<input type="text" value={{var1}}/>
<input type="button" value="Click Me" (click)="changeValue()">


<hr>
<h1>Hi i am employee Add:<span [innerText]="x"></span></h1>
<input type="text" [value]="x">
<input type="checkbox" [checked]="x">
<input type="button" value="Toggle" (click)="toggleValue()">

<hr>
<div [hidden]="hiddenVar">
<input type="text" value="Number 1" >
<input type="button" value="Show Number 2" (click)="togglehiddenVar()">
</div>

<div [hidden]="!hiddenVar">
<input type="text" value="Number 2" >
<input type="button" value="Show Number 1" (click)="togglehiddenVar()">
</div>
-->